.App {
  text-align: center;
 
  max-width: 90%;
  margin: 0 auto ;

  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.text-white {
  color: white
}


.text-lime {
  color: rgb(234, 250, 176)
}

.canvas-block {
  max-width: 90%;
}

.brd {
  border: 1px solid yellowgreen;
}
 .button-container {
   height: 5rem;
   /* border: 1px solid red; */
 }

 h3 { margin-top: 0;}
