.App {
  text-align: center;
  position: relative;

  max-width: 90%;
  margin: 10rem auto 0;
  height: 80vh;
  border: 2px solid transparent;
  border: 1px solid red;
}


.App-header {
 
}

.App-link {
  color: #61dafb;
}

.white-color {
  color: white
}

